<template>
  <svg class="firework"
    v-on:click="toggleStage"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 512 512"
    style="enable-background: new 0 0 512 512"
    xml:space="preserve"
    >
    <g>
      <g v-bind:class="['stage-1', {active: stage === 1 },  {complete: stage > 1 }]">
        <path
          d="M308.335,311.211c1.826-2.364,3.635-6.588,1.886-13.252c-1.775-6.758-6.801-27.017-9.216-36.779l26.3-20.412
          c4.753-3.695,6.835-10.334,5.052-16.119c-1.681-5.478-6.366-9.122-12.049-9.489c-3.959-0.324-24.841-2.185-34.731-3.063
          l-16.068-39.953c-2.475-6.17-7.603-10.01-13.389-10.01c-6.11,0-11.315,4.258-13.107,10.342
          c-1.493,4.045-10.411,28.74-14.345,39.612l-37.069,3.14c-5.734,0.486-10.274,4.113-11.836,9.464
          c-1.655,5.649,0.384,12.049,4.949,15.548c2.398,1.843,19.831,14.626,28.467,20.949l-10.573,36.318
          c-2.278,6.699-0.666,11.034,1.092,13.491c4.062,5.658,13.38,6.187,20.053,1.544c3.405-2.372,22.955-16.341,32.299-23.006
          c9.293,6.639,28.689,20.506,32.256,22.98c3.055,2.133,6.741,3.354,10.138,3.354C302.438,315.87,306.048,314.172,308.335,311.211z
          M283.11,259.883c0,0,5.026,20.395,8.431,34.014c-10.897-7.757-30.524-21.794-30.524-21.794
          c-1.485-1.067-3.226-1.596-4.966-1.596s-3.473,0.529-4.966,1.596c0,0-18.202,13.013-29.423,21.001l9.583-32.879
          c1.007-3.447-0.265-7.151-3.157-9.276c0,0-16.776-12.271-26.496-19.439l33.963-2.876c3.319-0.282,6.17-2.466,7.305-5.598
          c0,0,8.781-24.311,13.594-37.615l15.241,37.896c1.195,2.978,3.968,5.035,7.159,5.316c0,0,20.574,1.835,32.538,2.884
          l-25.233,19.575C283.503,253.158,282.3,256.606,283.11,259.883z"
          />
      </g>
      <g v-bind:class="['stage-2', {active: stage === 2 },  {complete: stage > 2 }]">
        <path
          d="M110.933,200.533c0,7.057,5.743,12.8,12.8,12.8s12.8-5.743,12.8-12.8s-5.743-12.8-12.8-12.8
          S110.933,193.476,110.933,200.533z M128,200.533c0,2.355-1.92,4.267-4.267,4.267s-4.267-1.911-4.267-4.267
          c0-2.355,1.92-4.267,4.267-4.267S128,198.178,128,200.533z"
          />
        <path
          d="M375.467,200.533c0,7.057,5.743,12.8,12.8,12.8s12.8-5.743,12.8-12.8s-5.743-12.8-12.8-12.8
          S375.467,193.476,375.467,200.533z M392.533,200.533c0,2.355-1.92,4.267-4.267,4.267S384,202.889,384,200.533
          c0-2.355,1.92-4.267,4.267-4.267S392.533,198.178,392.533,200.533z"
          />
        <path
          d="M311.467,136.533c7.057,0,12.8-5.743,12.8-12.8s-5.743-12.8-12.8-12.8s-12.8,5.743-12.8,12.8
          S304.41,136.533,311.467,136.533z M311.467,119.467c2.347,0,4.267,1.911,4.267,4.267s-1.92,4.267-4.267,4.267
          s-4.267-1.911-4.267-4.267S309.12,119.467,311.467,119.467z"
          />
        <path
          d="M200.533,136.533c7.057,0,12.8-5.743,12.8-12.8s-5.743-12.8-12.8-12.8s-12.8,5.743-12.8,12.8
          S193.476,136.533,200.533,136.533z M200.533,119.467c2.347,0,4.267,1.911,4.267,4.267S202.88,128,200.533,128
          c-2.347,0-4.267-1.911-4.267-4.267S198.187,119.467,200.533,119.467z"
          />
        <path
          d="M311.467,375.467c-7.057,0-12.8,5.743-12.8,12.8s5.743,12.8,12.8,12.8s12.8-5.743,12.8-12.8
          S318.524,375.467,311.467,375.467z M311.467,392.533c-2.347,0-4.267-1.911-4.267-4.267c0-2.355,1.92-4.267,4.267-4.267
          s4.267,1.911,4.267,4.267C315.733,390.622,313.813,392.533,311.467,392.533z"
          />
        <path
          d="M401.067,311.467c0-7.057-5.743-12.8-12.8-12.8s-12.8,5.743-12.8,12.8s5.743,12.8,12.8,12.8
          S401.067,318.524,401.067,311.467z M384,311.467c0-2.355,1.92-4.267,4.267-4.267s4.267,1.911,4.267,4.267
          s-1.92,4.267-4.267,4.267S384,313.822,384,311.467z"
          />
        <path
          d="M110.933,311.467c0,7.057,5.743,12.8,12.8,12.8s12.8-5.743,12.8-12.8s-5.743-12.8-12.8-12.8
          S110.933,304.41,110.933,311.467z M128,311.467c0,2.355-1.92,4.267-4.267,4.267s-4.267-1.911-4.267-4.267s1.92-4.267,4.267-4.267
          S128,309.111,128,311.467z"
          />
        <path
          d="M200.533,375.467c-7.057,0-12.8,5.743-12.8,12.8s5.743,12.8,12.8,12.8s12.8-5.743,12.8-12.8
          S207.59,375.467,200.533,375.467z M200.533,392.533c-2.347,0-4.267-1.911-4.267-4.267c0-2.355,1.92-4.267,4.267-4.267
          c2.347,0,4.267,1.911,4.267,4.267C204.8,390.622,202.88,392.533,200.533,392.533z"
          />
      </g>
      <g v-bind:class="['stage-3', {active: stage === 3 },  {complete: stage > 3 }]">
        <path
          d="M247.467,49.621v86.912c0,4.71,3.814,8.533,8.533,8.533s8.533-3.823,8.533-8.533V49.63
          C274.441,46.089,281.6,36.71,281.6,25.6C281.6,11.486,270.114,0,256,0s-25.6,11.486-25.6,25.6
          C230.4,36.71,237.56,46.089,247.467,49.621z M256,17.067c4.71,0,8.533,3.831,8.533,8.533c0,4.702-3.823,8.533-8.533,8.533
          s-8.533-3.831-8.533-8.533C247.467,20.898,251.29,17.067,256,17.067z"
          />
        <path
          d="M318.234,193.766c1.664,1.664,3.849,2.5,6.033,2.5c2.185,0,4.369-0.836,6.033-2.5l76.8-76.8
          c3.337-3.337,3.337-8.73,0-12.066c-3.336-3.337-8.73-3.337-12.066,0l-76.8,76.8C314.897,185.037,314.897,190.43,318.234,193.766z
          "
          />
        <path
          d="M181.7,193.766c1.664,1.664,3.849,2.5,6.033,2.5c2.185,0,4.369-0.836,6.033-2.492c3.337-3.337,3.337-8.738,0-12.075
          l-76.621-76.663c-3.337-3.337-8.738-3.328-12.075,0c-3.328,3.328-3.328,8.738,0,12.066L181.7,193.766z"
          />
        <path
          d="M338.833,326.767c-3.336-3.337-8.73-3.337-12.066,0c-3.337,3.336-3.337,8.73,0,12.066l68.267,68.267
          c1.664,1.664,3.849,2.5,6.033,2.5c2.185,0,4.369-0.836,6.033-2.5c3.337-3.336,3.337-8.73,0-12.066L338.833,326.767z"
          />
        <path
          d="M486.4,230.4c-11.11,0-20.489,7.151-24.021,17.067H349.867c-4.719,0-8.533,3.823-8.533,8.533s3.814,8.533,8.533,8.533
          h112.512c3.533,9.916,12.911,17.067,24.021,17.067c14.114,0,25.6-11.486,25.6-25.6S500.514,230.4,486.4,230.4z M486.4,264.533
          c-4.71,0-8.533-3.831-8.533-8.533c0-4.702,3.823-8.533,8.533-8.533s8.533,3.831,8.533,8.533
          C494.933,260.702,491.11,264.533,486.4,264.533z"
          />
        <path
          d="M49.621,264.533h112.512c4.719,0,8.533-3.823,8.533-8.533s-3.814-8.533-8.533-8.533H49.621
          C46.089,237.551,36.71,230.4,25.6,230.4C11.486,230.4,0,241.886,0,256s11.486,25.6,25.6,25.6
          C36.71,281.6,46.089,274.449,49.621,264.533z M25.6,264.533c-4.71,0-8.533-3.831-8.533-8.533c0-4.702,3.823-8.533,8.533-8.533
          c4.71,0,8.533,3.831,8.533,8.533C34.133,260.702,30.31,264.533,25.6,264.533z"
          />
        <path
          d="M264.533,462.37V332.8c0-4.71-3.814-8.533-8.533-8.533s-8.533,3.823-8.533,8.533v129.57
          c-9.907,3.541-17.067,12.919-17.067,24.03c0,14.114,11.486,25.6,25.6,25.6s25.6-11.486,25.6-25.6
          C281.6,475.29,274.441,465.911,264.533,462.37z M256,494.933c-4.71,0-8.533-3.831-8.533-8.533s3.823-8.533,8.533-8.533
          s8.533,3.831,8.533,8.533S260.71,494.933,256,494.933z"
          />
        <path
          d="M185.233,326.767c-3.337-3.337-8.73-3.337-12.066,0L104.9,395.034c-3.337,3.336-3.337,8.73,0,12.066
          c1.664,1.664,3.849,2.5,6.033,2.5c2.185,0,4.369-0.836,6.033-2.5l68.267-68.267C188.57,335.497,188.57,330.103,185.233,326.767z"
          />
      </g>
      <g v-bind:class="['stage-4', {active: stage === 4 }, {complete: stage > 4 }]">
        <path
          d="M418.611,91.972c2.278,2.526,5.871,3.43,9.062,2.338l11.042-3.78l7.637,9.421c1.655,2.048,4.104,3.166,6.63,3.166
          c0.947,0,1.92-0.162,2.85-0.495c3.405-1.203,5.683-4.429,5.683-8.038V82.79l12.348-6.17c2.893-1.451,4.719-4.403,4.719-7.637
          s-1.826-6.187-4.719-7.637l-12.348-6.17V43.383c0-3.695-2.381-6.972-5.897-8.115c-3.499-1.126-7.364,0.102-9.54,3.098
          l-7.091,9.762l-11.196-4.011c-3.191-1.143-6.801-0.282-9.122,2.227c-2.33,2.5-2.935,6.144-1.553,9.267l6.067,13.696l-6.05,13.414
          C415.744,85.828,416.316,89.464,418.611,91.972z M440.661,66.722c1.946,0.35,3.942-0.008,5.649-0.956
          c0.759,0.947,1.724,1.749,2.859,2.321l1.8,0.896l-1.8,0.896c-1.451,0.734-2.645,1.843-3.465,3.174
          c-1.254-0.691-2.671-1.05-4.104-1.05c-0.324,0-0.649,0.009-0.981,0.051C441.199,70.332,441.216,68.454,440.661,66.722z"
          />
        <path
          d="M37.649,66.637l9.762,7.091l-4.011,11.187c-1.152,3.217-0.273,6.801,2.227,9.131c1.604,1.493,3.686,2.278,5.803,2.278
          c1.169,0,2.355-0.239,3.465-0.734l13.696-6.067l13.414,6.05c3.115,1.408,6.733,0.819,9.25-1.468
          c2.517-2.295,3.439-5.854,2.338-9.071l-3.78-11.042l9.421-7.629c2.816-2.27,3.883-6.076,2.671-9.481
          c-1.203-3.405-4.42-5.683-8.038-5.683H82.074l-6.17-12.348c-2.901-5.786-12.373-5.786-15.275,0L54.46,51.2H42.667
          c-3.703,0-6.972,2.381-8.115,5.897C33.408,60.612,34.662,64.469,37.649,66.637z M67.371,63.548l0.896-1.801l0.896,1.801
          c0.725,1.459,1.835,2.637,3.174,3.456c-0.845,1.545-1.203,3.319-0.998,5.086c-0.879-0.29-1.809-0.444-2.722-0.444
          c-0.879,0-1.758,0.137-2.611,0.41c0.341-1.954-0.017-3.951-0.956-5.641C65.997,65.647,66.799,64.683,67.371,63.548z"
          />
        <path
          d="M474.351,446.797l-9.762-7.091l4.011-11.196c1.152-3.217,0.273-6.81-2.227-9.131c-2.5-2.321-6.153-2.935-9.267-1.544
          l-13.696,6.067l-13.414-6.05c-3.098-1.382-6.733-0.819-9.25,1.468c-2.517,2.296-3.439,5.854-2.338,9.071l3.78,11.051
          l-9.429,7.629c-2.807,2.278-3.874,6.076-2.662,9.481c1.203,3.405,4.42,5.683,8.038,5.683h11.793l6.17,12.348
          c1.451,2.893,4.403,4.719,7.637,4.719c3.234,0,6.187-1.826,7.637-4.719l6.17-12.348h11.793c3.703,0,6.972-2.381,8.115-5.897
          C478.592,452.821,477.338,448.973,474.351,446.797z M444.629,449.886l-0.896,1.8l-0.896-1.8
          c-0.725-1.459-1.835-2.637-3.183-3.465c0.853-1.536,1.212-3.319,1.007-5.086c1.732,0.58,3.601,0.589,5.333,0.043
          c-0.341,1.954,0.017,3.951,0.964,5.641C446.003,447.778,445.201,448.751,444.629,449.886z"
          />
        <path
          d="M93.389,421.461c-2.278-2.517-5.871-3.439-9.062-2.338l-11.042,3.78l-7.637-9.421c-2.278-2.807-6.076-3.9-9.481-2.671
          c-3.405,1.203-5.683,4.429-5.683,8.038v11.793l-12.348,6.17c-2.893,1.451-4.719,4.403-4.719,7.637
          c0,3.234,1.826,6.187,4.719,7.637l12.348,6.17v11.793c0,3.695,2.381,6.972,5.897,8.115c0.87,0.282,1.758,0.418,2.637,0.418
          c2.671,0,5.265-1.263,6.903-3.516l7.091-9.762l11.196,4.011c3.217,1.161,6.81,0.29,9.131-2.227
          c2.321-2.5,2.927-6.144,1.545-9.267l-6.067-13.696l6.05-13.414C96.256,427.605,95.684,423.97,93.389,421.461z M71.339,446.711
          c-1.937-0.35-3.951,0.009-5.649,0.956c-0.759-0.947-1.724-1.749-2.859-2.321l-1.801-0.896l1.801-0.896
          c1.451-0.734,2.645-1.843,3.465-3.174c1.536,0.845,3.268,1.203,5.086,0.998C70.801,443.102,70.784,444.979,71.339,446.711z"
          />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'Firework',
  props: {
    min: {
      type: Number,
      default: 0
    },
    max: {
      type: Number,
      default: 5
    },
    handle: {
      type: Number
    }
  },
  data() {
    return {
      stage: this.min,
      stages: [],
    }
  },
  computed: {
    isFirst() {
      return this.stage === this.min;
    },
    isLast() {
      return this.stage === this.max;
    },
  },
  created() {
    this.doInit();
  },
  mounted() {
    this.doProcess()
  },
  methods: {
    doInit() {
      for (let i = this.min; i <= this.max; i++) {
        this.stages.push({
          id: i,
          duration: Math.ceil(Math.random() * 1500)
        });
      }
    },

    async doProcess() {
      let startTime, endTime;
      for(let i = 0; i < this.stages.length; i++) {
        if (this.isFirst) {
          startTime = Date.now();
          this.$emit('start', {handle: this.handle, duration: 0})
        }

        console.log('Stage ', this.stages[i].id, this.handle )
        this.stage = this.stages[i].id
        let wait = this.stages[i].duration
        await new Promise(resolve => setTimeout(resolve, wait))

        if (this.isLast) {
          endTime = Date.now();
          let duration = endTime - startTime;
          this.$emit('end', {handle: this.handle, duration: duration})
        }
      }
    },

    toggleStage() {
      if( this.stage < this.max) {
        this.stage++;
      } else {
        this.stage = this.min;
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .firework {
    width: 100px;
    height: 100px;
  }
  .stage-1 {
    opacity: 0;
    fill: yellow;
  }
  .stage-2 {
    opacity: 0;
    fill: orange;
  }
  .stage-3 {
    opacity: 0;
    fill: red;
  }
  .stage-4 {
    opacity: 0;
    fill: brown;
  }

  .active {
    &.stage-1,
    &.stage-2,
    &.stage-3,
    &.stage-4 {
      opacity: 1;
    }
  }

  .complete {
    animation-name: fade;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 300ms;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0
    }
  }

</style>