<template>
  <div id="app" class="container">
    <h1 class="noselect">Fireworks App</h1>
    <div class="sky">
      <Firework v-for="firework in fireworks" 
        v-bind:key="firework.handle"
        v-bind:handle="firework.handle"
        v-on:end="remove($event); log($event)"
      />
    </div>
    <div class="ground">
      <button class="button noselect" v-on:click="add">New</button>
    </div>
  </div>
</template>

<script>
import Firework from './components/Firework.vue'

export default {
  name: 'App',
  components: {
    Firework
  },
  data() {
    return {
      fireworks: [],
      history: [],
    }
  },
  methods: {
    add() {
      let entry = {handle: Date.now()}
      console.log('add', entry)
      this.fireworks.push(entry)
    },

    remove(payload) {
      console.log('remove', payload)
      let {handle} = payload
      this.fireworks = this.fireworks.filter(item => handle !== item.handle)
    },

    log(payload) {
      console.log('log', payload)
      this.history.push(payload)
    }
  }
}
</script>

<style>
#app {
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  padding: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container > * {
  width: 100%;
}

.sky {
  flex-grow: 10;
  min-height: 100px;
  margin-bottom: auto;
}

.ground {
  padding: 10px 0;
  background: #f0f0f0;
}

.button {
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background: #2c3e50;
  border: 0;
  border-radius: 4px;
}

.button:active {
  background: #1e2d3a;
}
</style>
